/* inter-regular - latin_cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('inter/inter-v2-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('inter/inter-v2-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('inter/inter-v2-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('inter/inter-v2-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('inter/inter-v2-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('inter/inter-v2-latin_cyrillic-regular.svg#Inter') format('svg'); /* Legacy iOS */
}
