.header__nav {
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

@media all and (max-width: 539px) {
  .header__nav {
    display: none;
  }
}

.header__nav-item {
  margin: 0;
  padding: 18px 0px 23px 0px;
  list-style: none;
  font-family: 'Roboto', Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

@media all and (max-width: 1439px) {
  .header__nav-item {
    font-size: 16px;
  }
}

.header__nav-item:not(:first-child) {
  margin: 0 0 0 32px;
}

.header__nav-item_current {
  margin: 19px 0 0 0;
  padding: 0px 0 25px;
  border-bottom: 3px solid #fff;
}

.header__nav-item_current:not(:first-child) {
  margin: 19px 0 0 32px;
}

@media all and (max-width: 1439px) {
  .header__nav-item_current {
    padding: 0px 0 16px;
  }
}

@media all and (max-width: 768px) {
  .header__nav-item_current {
    padding: 0px 0 19px;
  }
}

.header__nav_button {
  padding: 11px 17px 11px 17px;
  border: 1px solid #fff;
  border-radius: 24px;
  transition: color .2s;
}

@media all and (max-width: 1439px) {
  .header__nav_button {
    font-size: 16px;
  }
}

@media all and (max-width: 768px) {
  .header__nav_button {
    padding: 12px 0px 15px 0px;
  }
}

.header__nav_button:hover {
  border: 1px solid #8C8D8D;
}

.header__nav-item-link {
  text-decoration: none;
  color: #fff;
  transition: color .2s;
}

.header__nav-item-link:hover {
  color: #8C8D8D;
}

.header__nav-item-button {
  margin: 0;
  padding: 10px 17px 10px;
  color: #fff;
  font-family: 'Roboto', Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 24px;
  cursor: pointer;
  background: transparent;
  transition: color .2s;
}

.header__nav-item-button_auth {
  padding: 11px 43px 13px 22px;
  background: url('../../images/auth.svg') no-repeat;
  background-position: 85%;
  transition: opacity .2s;
}

.header__nav-item-button_auth:hover {
  opacity: .8;
}

@media all and (max-width: 1439px) {
  .header__nav-item-button {
    line-height: 18px;
    padding: 10px 6px 10px;
    font-size: 16px;
    min-width: 152px;
  }
}

.header__nav-item-button:hover {
  color: #8C8D8D;
  border: 1px solid #8C8D8D;
}

.header__nav-item-button:focus {
  outline: none;
}

.header__nav-button {
  margin: 0;
  padding: 11px 0px 15px 0px;
  list-style: none;
}

.header__nav-button:not(:first-child) {
  margin: 0 0 0 32px;
}

@media all and (max-width: 1439px) {
  .header__nav-button:not(:first-child) {
    margin: 0 0 0 18px;
  }
}
