.search {
  background: #3333;
  padding: 5.2vw 28.3vw 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start
}

@media all and (min-width: 1440px) {
  .search {
    padding: 74px 407px 0;
  }
}

@media all and (max-width: 1439px) {
  .search {
   padding: 4.7vw 28.3vw 0;
  }
}

@media all and (max-width: 768px) {
  .search {
    padding: 4.7vw 20vw 0;
  }
}

@media all and (max-width: 540px) {
  .search {
    padding: 4.7vw 6.9vw 0;
  }
}

@media all and (max-width: 320px) {
  .search {
    padding: 8vw 10px 5.5vw;
  }
}

.search__title {
  margin: 0;
  padding: 5px 0px 0px 0px;
  font-family: 'Roboto Slab', Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 4.16vw;
  line-height: 63px;
  color: #fff;
}

@media all and (min-width: 1440px) {
  .search__title {
    font-size: 60px;
    line-height: 64px;
  }
}

@media all and (max-width: 1439px) {
  .search__title {
    line-height: 40px;
    font-size: 4.5vw;
  }
}

@media all and (max-width: 768px) {
  .search__title {
    max-width: 370px;
    line-height: 40px;
    font-size: 36px;
  }
}

.search__subtitle {
  margin: 0;
  padding: 33px 0 0;
  font-family: 'Roboto', Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

@media all and (max-width: 768px) {
  .search__subtitle {
    padding: 14px 0 0;
  }
}

.search__form {
  padding: 65px 0 82px;
  min-width: 268px;
  height: 61px;
}

@media all and (min-width: 1440px) {
  .search__form {
    padding: 65px 0 82px;
  }
}

@media all and (max-width: 1439px) {
  .search__form {
    padding: 4.4vw 0 5.5vw;
  }
}

@media all and (max-width: 968px) {
  .search__form {
    padding: 6.3vw 0 5.5vw;
  }
}

@media all and (max-width: 320px) {
  .search__form {
    margin: 103px 0 62px;
  }
}

.search__form-mail {
  position: relative;
  display: flex;
  height: 62px;
}

@media all and (max-width: 768px) {
  .search__form-mail {
    height: 54px;
  }
}

@media all and (max-width: 320px) {
  .search__form-mail {
    flex-direction: column;
    height: max-content;
  }
}

.search__form-mail-input {
  margin-right: -28px;
  box-sizing: border-box;
  padding: 0px 0px 0px 24px;
  background-color: #fff;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 27px 0 0 27px;
  position: relative;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  color: #1A1B22;
  font-family: 'Roboto', Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

@media all and (max-width: 320px) {
  .search__form-mail-input {
    padding: 0px 0px 0px 15px;
    height: 52px;
    border-radius: 27px;
  }
}

@media all and (max-width: 320px) {
  .search__form-mail-input::placeholder {
    margin-left: 15px;

    color: #B6BCBF;
  }
}


.search__form-mail-input:focus {
  outline: none;
}

.search__form-mail-input::placeholder {
  font-family: 'Roboto', Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1A1B22;
}

.search__submit {
  box-sizing: border-box;
  padding: 0px 54px 0px;
  position: relative;
  border: 0;
  border-radius: 32px;
  z-index: 1;
  cursor: pointer;
  font-family: 'Roboto', Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  background: #2F71E5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  transition: background-color .2s;
}

@media all and (max-width: 768px) {
  .search__submit {
    padding: 0px 47px 0px;
  }
}

@media all and (max-width: 320px) {
  .search__submit {
    margin: 20px 0 0;
    height: 52px;
  }
}

.search__submit:hover {
  background: #347EFF;
}

.search__submit:focus {
  outline: none;
  background: #2A65CC;
}
