.header {
  box-sizing: border-box;
  margin: 0 auto 0;
  padding: 0;
  max-height: 577px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: url('../../images/main-page.png') no-repeat;
  background-size: cover;
  background-position: 50%;
}

.header_white {
  background: #fff;
}

.header__wrapper {
  width: 100%;
  padding: 0.65% 6.71% 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

@media all and (max-width: 768px) {
  .header__wrapper {
    padding: 0 4vw 2px;
  }
}

@media all and (max-width: 696px) {
  .header__wrapper {
    padding: 8px 4vw 11px;
  }
}

@media all and (max-width: 320px) {
  .header__wrapper {
    min-height: 58px;
    padding: 0 2.5% 0px;
  }
}

.header__logo {
  padding: 0px 0 5px;
  width: 200px;
  height: 24px;
  color: #fff;
  font-family: 'Roboto Slab', Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  cursor: default;
  transition: color .2s;
  cursor: pointer;
}

.header__logo_white {
  color: #1A1B22;
}

.header__logo:hover {
  color: #8C8D8D;
}

@media all and (max-width: 768px) {
  .header__logo {
    margin: 8px 0px 0;
  }
}

@media all and (max-width: 320px) {
  .header__logo {
    font-size: 16px;
  }
}

.header__hamburger {
  display: none;
  justify-content: space-between;
  height: 57px;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  width: 100%;
  z-index: 2;
}

.header__hamburger_active {
  display: flex;
}

.header__hamburger-logo {
  font-family: 'Roboto Slab', Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  margin-left: 6px;
}

.header__hamburger-img {
  cursor: pointer;
  display: none;
}

.header__close {
  margin-right: 7px;
  cursor: pointer;
}

.header__close:hover {
  filter: opacity(.5);
}

@media all and (max-width: 696px) {
  .header__hamburger-img {
    display: block;
  }
}

@media all and (max-width: 696px) {
  .header__hamburger-img_white {
    display: block;
  }
}

.header__line {
  width: 100%;
  margin: -2px;
  height: 2px;
  background: rgba(196, 196, 196, 0.01);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}

@media all and (max-width: 768px) {
  .header__line {
    margin: -4px;
  }
}

.header__line_white {
  background: #FFFFFF;
  box-shadow: inset 0px -1px 0px #D1D2D6;
}

.header__hamburger-menu {
  display: flex;
  justify-content: space-between;
  height: 57px;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  width: 100%;
  flex-direction: column;
  padding: 18px 0 0;
}

.header__hamburger-menu-wrapper {
  display: flex;
  justify-content: space-between;
}

@media all and (max-width: 696px) {
  .header__hamburger-menu-wrapper {
    padding: 0 10px 0;
  }
}

.header__hamburger-line {
  margin: 10px 0 0;
  height: 2px;
  background: rgba(196, 196, 196, 0.01);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}
