.footer {
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  padding: 0 0 0 95px;
  font-family: 'Roboto', Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #B6BCBF;
  white-space: nowrap;
}

@media all and (max-width: 768px) {
  .footer__copyright {
    padding: 0 0 0 32px;
  }
}

.footer__wrapper {
  padding: 0 98px 0;
  display: flex;
  justify-content: space-between;
}

@media all and (max-width: 768px) {
  .footer__wrapper {
    padding: 0 51px 0;
  }
}

.footer__menu {
  margin: 14px 0 0;
  padding: 0 18px 0 0;
  display: flex;
}

.footer__menu-item {
  list-style: none;
  font-family: 'Roboto', Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.footer__menu-item:not(:first-child) {
  margin: 0 0 0 38px;
}

@media all and (max-width: 768px) {
  .footer__menu-item:not(:first-child) {
    margin: 0 0 0 19px;
  }
}

.footer__menu-item-link {
  color: #1A1B22;
  text-decoration: none;
  transition: color .2s;
}

.footer__menu-item-link:hover {
  color: #8C8D8D;
}

.footer__socials {
  margin: 13px 0 0;
  display: flex;
}

@media all and (max-width: 768px) {
  .footer__socials {
    padding: 0px 0px 0 15px;
  }
}

.footer__socials-item {
  list-style: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: color .2s;
}

.footer__socials-item:not(:first-child) {
  margin-left: 28px;
}

.footer__socials-item_github {
  background: url('../../images/socials-github.svg');
}

.footer__socials-item_facebook {
  background: url('../../images/socials-facebook.svg');
}




