.card-list__news-card {
  margin: 0;
  padding: 0 9px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
  cursor: pointer;
}

@media all and (max-width: 768px) {
  .card-list__news-card {
    padding: 0 5px 0;
  }
}

@media all and (max-width: 530px) {
  .card-list__news-card {
    max-height: 440px;
  }
}

.card-list__card-image {
  max-height: 272px;
  object-fit: cover;
  height: 196px;
  border-radius: 18px 18px 0 0;
}

.card-list__wrapper {
  background: #FFFFFF;
  border-radius: 0 0 18px 18px;
  padding: 0px 19px 0;
}

.card-list__card-date {
  font-family: 'Source Sans Pro', Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
  padding: 20px 0px 0;
  display: block;
}

.card-list__card-title {
  font-family: 'Roboto Slab', Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1A1B22;
  margin: 0;
  padding: 12px 0px 0;
}

@media all and (max-width: 924px) {
  .card-list__card-title {
    font-size: 22px;
    line-height: 24px;
  }
}

@media all and (max-width: 768px) {
  .card-list__card-title {
    padding: 12px 0px 0;
  }
}

.card-list__card-text {
  font-family: 'Roboto', Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1A1B22;
  margin: 0;
  padding: 16px 0px 0;
  overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

@media all and (max-width: 768px) {
  .card-list__card-text {
    padding: 10px 0px 0;
  }
}

@media all and (max-width: 530px) {
  .card-list__card-text {
    min-height: 110px;
  }
}

.card-list__card-source {
  font-family: 'Roboto Slab', Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #B6BCBF;
  padding: 19px 0px 22px;
  display: block;
}

@media all and (max-width: 768px) {
  .card-list__card-source {
    padding: 12px 0px 22px;
  }
}
