@import url('./vendor/normalize.css');
@import url('./fonts/roboto.css');
@import url('./fonts/roboto-slab.css');
@import url('./fonts/source-sans-pro.css');

#root {
  margin: 0 auto 0;
  max-width: 1466px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
